body{
  
}
h1,h2,h3,h4{
  font-family: Oswald-Regular;
}

h1{
  text-transform: uppercase;
  letter-spacing: 1px;
  color: white;
}

h2{
  font-family: OpenSans;
  color: #BFBFBF;
  margin-top: 5px;
  font-size: 20px;
}

h1, h2{
  text-align: center;
}

h3{
  text-transform: uppercase;
  font-size: 28px;
  color: #3D3D3D;
  line-height: 41px;
  letter-spacing: 2px;
  text-align: center;
  text-transform: uppercase;
  padding-bottom: 40px;
  margin-top: 40px;
  margin-bottom: 40px;
  border-bottom: 2px solid rgba(61,61,61,0.14);
}
h3 span{
  color: rgba(61,61,61,0.14);
}
h4{
  text-align: center;
  font-size: 22px;
  color: #3D3D3D;
  line-height: 33px;
}
p{
  font-family: OpenSans;
  font-size: 19px;
  color: #646464;
  line-height: 32px;
}

@media (min-width: 700px){
  .container {
    width: 700px;
  }
}

.row {
    padding-top: 9px;
    padding-bottom: 9px;
    margin-right: -50px;
    margin-left: -50px;
  }

.brown{
  background: #F7F2EB;
}
.yellow{
  background: #F7F6EB;
}

.col-xs-1, .col-sm-1, .col-md-1, .col-lg-1, .col-xs-2, .col-sm-2, .col-md-2, .col-lg-2, .col-xs-3, .col-sm-3, .col-md-3, .col-lg-3, .col-xs-4, .col-sm-4, .col-md-4, .col-lg-4, .col-xs-5, .col-sm-5, .col-md-5, .col-lg-5, .col-xs-6, .col-sm-6, .col-md-6, .col-lg-6, .col-xs-7, .col-sm-7, .col-md-7, .col-lg-7, .col-xs-8, .col-sm-8, .col-md-8, .col-lg-8, .col-xs-9, .col-sm-9, .col-md-9, .col-lg-9, .col-xs-10, .col-sm-10, .col-md-10, .col-lg-10, .col-xs-11, .col-sm-11, .col-md-11, .col-lg-11, .col-xs-12, .col-sm-12, .col-md-12, .col-lg-12 {
    position: relative;
    min-height: 1px;
    padding-right: 8px;
    padding-left: 8px;
  }

  .info-box{
    margin-top: 50px;
    padding: 30px 42px;
    background: white;
  }

  section{
    padding-top: 30px;
    padding-bottom: 30px;
    border-top: 2px solid rgba(61,61,61,0.08);
  }

  #fullscreen{
    padding: 200px 0;
    background: url('http://c4.staticflickr.com/4/3459/3349638282_fbeee42b3a.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
  }

  figure figcaption{
    color: #C4C4C4;
    padding: 10px 20px;
  }
  figure img{
    width: 100%;
  }